
html{
	position: relative;
	min-height: 100%;
}

body {
	background-image: url(../images/logo.png);
	background-image padding:15px 0px 0px 15px;
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: fixed;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	margin: 0;
	margin-bottom: 50px;
	border: 0;
	background-color: #f1f1f1;
}

h2,h3 {
	font-family: 'Raleway', sans-serif;
}

h2  {
	margin: 0;
	color: red;
	font-weight: normal;
	font-size: 30px;
	border-bottom: 2px solid #0161AB;
  	text-align: center;
  	padding-bottom: 10px;
}

.slideshow {
	width: 100%;
}

/**Table styling**/

.table-bordered {
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	border: #cccccc 1px solid;
	width: 100%;}

.table-bordered th{
	font-size: 18px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;

}

.table-bordered td{
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

/**Added Zebra Stripes**/

.theader {
	background-color: red;
	color: #bfbfbf;
}

.table-bordered tr:nth-child(odd) {
   background-color: #0161AB;
   color: white;
}

.table-bordered tr:nth-child(even) {
   background-color: white;
   color: red;
}


/**Mobile Friendly**/

@media (min-width: 658px) {
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #0161AB;
	}
}

@media (max-width: 700px) {
	.footer {
	  position: absolute;
	  font-size: 8px;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 40px;
	  background-color: #0161AB;
	}

	article p {
		font-size: 10px;
	}
}

.footer p {
	color: #f1f1f1;
	text-align: center;

}



/**Nav-bar**/

nav li {background-color: red;
	color: white;
	
	}

nav a { color:white; }

nav a:hover {
	background-color: white;
	color:#0161AB;

}
.active li{
	background-color:#0161AB; 
}
.active a{
	color: white;
	background-color:#0161AB; 
}

/**Additional CSS**/

.intro {
	padding:10px;
	width:60%;
	background-color: #f1f1f1;
	color: #0161AB;
	padding-bottom: 30px;

}
header {
	text-decoration: none;
	font-family: 'Graduate', cursive;
	padding-left: 30px;
}



.highlight {
    background-color:lightgray;
}

